 /* .sub-menu {
   opacity: 0;
   overflow: hidden;
   height: 0;
 } */

 /* .open+ul.sub-menu {
   opacity: 1;
   height: 100%;
 }

 ul {
   list-style-type: none;
   background-color: rgb(185, 182, 218)
 } */

 /* .header {
   background-color: azure
 } */
